* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --mainclr: #239f85; */
    --mainclr: #2098df;
    --secclr: #ff5d22;
    /* --third: #DFE4E0; */
    --lighttext: #484646;
    --white: #fff;
    --lightmainclr: #d8f2fb;
    /* --mainafterclr: hsl(167, 81%, 79%); */
    --headingfont: 'Work Sans', sans-serif;

}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* =================Header Section====================== */
.top {
    height: 100%;
}

.header {
    padding: .7rem 7%;
    background-color: var(--mainclr);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header #logo {
    width: 7rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
    /* width: 100%; */
}

#logo img {
    width: 4rem;
}

#logo span {
    font-size: 2.5rem;
    color: #f6f4f4;
    font-weight: 800;
    font-family: var(--headingfont);
    text-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
}

.nav-list {
    display: flex;

}

.nav-list a {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    margin-right: 3.5rem;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;

}

.nav-list a:after {
    content: '';
    background: var(--secclr);
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    transition: .3s;
}

.nav-list a:hover:after {
    content: '';
    background: var(--secclr);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
}

#menubar {
    font-size: 2rem;
    margin-right: 1rem;
    color: white;
    display: none;
}


/* ===============Hero Section=================== */

.hero-image {
    background-image: url(/images/background.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 6%;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 37%;
    left: 50%;
    width: 50%;
    transform: translate(-80%);
}

.hero-content h1 {
    color: black;
    font-family: var(--headingfont);
    font-size: 5rem;
    margin-bottom: 2rem;
}

.hero-content p {
    font-size: 1.7rem;
    margin-bottom: 4rem;
}

.btn {
    background: var(--secclr);
    padding: 1.5rem 6rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    transition: all .5s;
    text-decoration: none;
}

.btn:hover {
    background: transparent;
    border: 1px solid var(--secclr);
    color: black;

}



/* ====================About section============ */
#about {
    padding: 6rem 7%;
    background: var(--white);
    width: 100%;
    margin-top: 7rem;
}

.title {
    font-size: 5rem;
    font-family: var(--headingfont);
    text-align: center;
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    /* width: 10rem; */
    width: 10%;
    background-color: var(--mainclr);
    height: .3rem;
    bottom: -.2rem;
    left: 45%;
    border-radius: 4rem;
}

.main-about1,
.main-about2 {
    width: 100%;
    display: grid;
    gap: 1.5rem;
}

.main-about1 {
    margin-top: 5rem;
    grid-template-columns: 1fr 2fr;

}

.main-about2 {
    margin-top: 4rem;
    grid-template-columns: 2fr 1.5fr;

}


.inner-content h1 {
    font-size: 3.4rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.inner-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: var(--lighttext);
}

.inner-image {
    /* display: flex;
    align-items: center; */
    padding: 3rem 2rem 0 0;
}

.inner-image img,
#dr-image img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#dr-image {
    padding: 3rem;
    display: flex;
    align-items: center;
}

/* ===============Services Section===================== */
#our-services {
    padding: 6rem 7%;
}

.what-we-do {
    text-align: center;
    color: var(--secclr);
    font-size: 1.7rem;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    margin-top: 8rem;
}

.service {
    background-color: var(--lightmainclr);
    text-align: center;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 2px solid #4dbbeb;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 3rem;
}

.service:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

}

.service img {
    width: 15rem;
}

.service h2 {
    font-size: 2.3rem;
    margin-top: 2rem;
}

.service p {
    font-size: 1.2rem;
    color: var(--lighttext);
    margin: 1.5rem 0 2rem;
    text-align: justify;
}

.more {
    color: var(--lighttext);
    font-size: 1.5rem;
    border: none;
    background-color: #bde2f0;
    outline: none;
    padding: 1rem;
    font-weight: 600;
    border-radius: .5rem;
    cursor: pointer;
    border: 2px solid #4dbbeb;
    transition: all 0.3s;
}

.more:hover {
    /* color: #2098df; */
    color: var(--secclr);
    border: 2px solid var(--secclr);
}


/* ===========================Galary section ===================== */
#gallery {
    padding: 6rem 7%;
}

.gallery-title {
    margin-bottom: 5rem;
}

.main-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.inner-gallery {
    padding: 3rem;
}

.inner-gallery img {
    width: 100%;
    transition: all 0.3s;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    cursor: pointer;
}

.inner-gallery img:hover {
    transform: scale(1.1);
    border-radius: 20px;
}

/* ============Why Choose us================ */
.why-choseus {
    padding: 4rem 7%;
}

.main-chose {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.inner-chose {
    flex: 1 1 45rem;
}

.inner-chose img {
    width: 100%;
}

.inner-chose h1 {
    font-size: 40px;
    color: var(--mainclr);
    margin-bottom: 20px;
}

.main-inner-chose {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;

}

.chose-icon i {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    background: white;
    color: var(--mainclr);
    font-size: 3rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon-content {
    padding: 0 4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--lighttext);
}

.icon-content p {
    font-size: 1.5rem;
    line-height: 1;
}

.mob-title {
    display: none;
}

/* ============doctor section============ */
.our-doctors {
    padding: 4rem 7%;
}

.our-doctors h1 {
    text-align: center;
    font-size: 40px;
    color: var(--mainclr);
    margin-bottom: 30px;
}

.main-doctor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.inner-doctor {
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    /* cursor: pointer; */

}

.inner-doctor:hover {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
}

.inner-doctor img {
    width: 100%;
    border-radius: 15px;

}

.doctor-desc h2 {
    text-align: center;
    margin: 1rem;
    font-size: 2.5rem;
}

.doctor-desc p {
    color: var(--lighttext);
    text-align: justify;
    padding: 0 2rem;
    font-size: 1.3rem;
}


.doc-icons {
    text-align: center;
    margin-bottom: 2rem;
}


.doc-icons div {
    font-size: 1.6rem;
    color: var(--mainclr);
    background: var(--lightmainclr);
    border-radius: 50%;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    cursor: pointer;
}



.doc-icons div:hover {
    transform: scale(1.2);
}

/* ====================Footer Section============= */

.footer {
    padding: 2rem 2%;
    background: var(--lightmainclr);
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    margin-top: 2rem;
}

.contact-methode {
    padding: 1rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
    color: var(--lighttext);
}

.contact-title {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
}

.contact-methode span {
    margin-top: 2rem;
}


.contact-methode li {
    list-style: none;
    margin-top: 2rem;
}

.contact-methode li i {
    margin-right: .8rem;
}

.social-icon {
    margin-right: 3rem;
    font-size: 2.5rem;
    transition: all 0.3s;
}

.social-icon i:hover {
    color: var(--secclr);
}

.main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 20px; */
    flex-wrap: wrap;
}

.inner-footer {
    padding: 2rem;
    color: var(--lighttext);

}

.inner-footer h2 {
    font-size: 1.8rem;
    color: var(--mainclr);
}



.inner-footer a {
    color: var(--lighttext);
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: bolder;
    display: block;
    margin-top: 1rem;
    padding-top: 1rem;
    transition: all 0.3s;
}

.inner-footer a:hover {
    color: var(--secclr);
}

.map {
    height: 30rem;
    width: 100%;
    border: none;
    margin-top: .6rem;
}

/* ==================sub Footer=========== */

.sub-footer {
    text-align: center;
    padding: .6rem;
    background-color: var(--mainclr);
    font-size: 1.5rem;
}


/* ==========================Media Query============ */
@media only screen and (max-width:800px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.3rem 2.3rem;
    }

    #menubar {
        display: inline;
    }

    .navbar {
        /* height: 100vh; */
        align-items: start;
    }

    .nav-list {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        gap: 5rem;
    }

    #logo img {
        width: 2rem;
    }

    #logo span {
        font-size: 2rem;
    }

    .mobile_nav {
        display: flex;
    }

    /* =============hero section================ */
    /* .hero-image {
        background-image: url(/images/background_mob.jpg);
        background-position: center;
    } */
    .hero-content {
        top: 10rem;
        width: 100%;
        left: 0;
        transform: none;
        padding: 2rem;
    }

    .hero-content p {
        font-size: 1.5rem;
        text-align: justify;
        padding: 1rem;
    }

    /* ===================Services Section==================== */

    .services {
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }

    /* ====================Gallery Section============================ */
    .main-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .inner-gallery img {
        border-radius: 10px;
    }

    /* ============Why Choose us================ */
    .mob-title {
        display: block;
    }

    .mob-title h1 {
        font-size: 3rem;
        color: var(--mainclr);
        margin-bottom: 20px;
    }

    .main-chose {
        gap: 15px;
    }

    .inner-chose {
        display: flex;
        justify-content: center;
    }

    .inner-chose h1 {
        display: none;
    }

    .inner-chose img {
        width: 80%;
        margin: auto;
        margin-bottom: .5rem;
    }

    .main-inner-chose {
        margin: -1.4rem 0;
        text-align: justify;
    }

    .chose-icon {
        margin: -2.4rem;
    }

    .chose-icon i {
        width: 4rem;
        height: 4rem;
        font-size: 2.2rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    }


    /* ============doctor section============ */
    .our-doctors {
        padding: 4rem 7%;
    }

    .our-doctors h1 {
        text-align: center;
        font-size: 3rem;
        color: var(--mainclr);
        margin-bottom: 3rem;
    }

    .main-doctor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }

    /* ==================sub Footer=========== */

    .sub-footer {
        font-size: 1rem;
    }

}


/*  ==================================================================
                    Media 600
================================================================*/
@media only screen and (max-width:600px) {
    html {
        font-size: 40%;
    }

    .header {
        padding: 1rem 2rem;
    }

    .btn {
        padding: 1rem;
        display: table;
        margin: auto;
    }


    /* =============hero section================ */

    .hero-image {
        background: url(/images/background_mob1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-content h1 {
        font-size: 5rem;
        text-align: center;
        padding: 1rem;
    }

    /* =========================About section================== */
    .main-about1,
    .main-about2 {
        grid-template-columns: 1fr;
        text-align: center;

    }

    .main-about2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .inner-image img,
    #dr-image img {
        width: 80%;
        display: block;
        margin: auto;
    }

    .inner-content p {
        text-align: justify;
    }

    /* ===================Services Section==================== */

    .services {
        gap: 2rem;
        grid-template-columns: 1fr;
    }

    .service {
        width: 75%;
        margin: auto;
    }

    /* ====================Gallery Section============================ */
    .main-gallery {
        grid-template-columns: 1fr;
    }

    /* ============doctor section============ */
    .main-doctor {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}